* {
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
}

h6 {
    font-size: 20px;
    text-transform: uppercase;
}

.heading {
    background-color: pink;
    border: 5px solid black;
    padding: 50px 0;
    text-align: center;
}

.contact {
    border: 5px solid black;
    float: left;
    padding: 50px;
    width: 30%;
}

.work {
    border: 5px solid black;
    float: left;
    padding: 50px;
    width: 70%;
}

.table {
    border-collapse: collapse;
    text-align: left;
    width: 100%;
}

.table th,
.table td {
    border: 1px solid black;
    border-collapse: collapse;
    padding: 5px;
}

.education {
    border: 5px solid black;
    border-radius: 10px;
    float: left;
    padding: 50px;
    width: 30%;
}

.education ul ul {
    margin-bottom: 10px;
}

.education ul li span {
    color: red;
    font-family: Arial;
    font-size: 20px;
    font-weight: bolder;
}

.education ul > li > ul > li {
    margin-left: 10px;
}